{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.quicksight#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.quicksight#String"
        },
        "RequestId": {
          "target": "com.amazonaws.quicksight#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services request ID for this request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You don't have access to this item. The provided credentials couldn't be\n\t\t\tvalidated. You might not be authorized to carry out the request. Make sure that your\n\t\t\taccount is authorized to use the Amazon Quick Sight service, that your policies have the\n\t\t\tcorrect permissions, and that you are using the correct credentials.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 401
      }
    },
    "com.amazonaws.quicksight#ActionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#String"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 20
        }
      }
    },
    "com.amazonaws.quicksight#AggregateOperation": {
      "type": "structure",
      "members": {
        "Alias": {
          "target": "com.amazonaws.quicksight#TransformOperationAlias",
          "traits": {
            "smithy.api#documentation": "<p>Alias for this operation.</p>",
            "smithy.api#required": {}
          }
        },
        "Source": {
          "target": "com.amazonaws.quicksight#TransformOperationSource",
          "traits": {
            "smithy.api#documentation": "<p>The source transform operation that provides input data for the aggregation.</p>",
            "smithy.api#required": {}
          }
        },
        "GroupByColumnNames": {
          "target": "com.amazonaws.quicksight#GroupByColumnNameList",
          "traits": {
            "smithy.api#documentation": "<p>The list of column names to group by when performing the aggregation. Rows with the same values in\n           these columns will be grouped together.</p>"
          }
        },
        "Aggregations": {
          "target": "com.amazonaws.quicksight#AggregationList",
          "traits": {
            "smithy.api#documentation": "<p>The list of aggregation functions to apply to the grouped data, such as <code>SUM</code>, \n           <code>COUNT</code>, or <code>AVERAGE</code>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A transform operation that groups rows by specified columns and applies aggregation functions\n           to calculate summary values.</p>"
      }
    },
    "com.amazonaws.quicksight#Aggregation": {
      "type": "structure",
      "members": {
        "AggregationFunction": {
          "target": "com.amazonaws.quicksight#DataPrepAggregationFunction",
          "traits": {
            "smithy.api#documentation": "<p>The aggregation function to apply, such as <code>SUM</code>, <code>COUNT</code>, <code>AVERAGE</code>, \n           <code>MIN</code>, <code>MAX</code>\n         </p>",
            "smithy.api#required": {}
          }
        },
        "NewColumnName": {
          "target": "com.amazonaws.quicksight#ColumnName",
          "traits": {
            "smithy.api#documentation": "<p>The name for the new column that will contain the aggregated values.</p>",
            "smithy.api#required": {}
          }
        },
        "NewColumnId": {
          "target": "com.amazonaws.quicksight#ColumnId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the new column that will contain the aggregated values.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines an aggregation function to be applied to grouped data, creating a new column with\n           the calculated result.</p>"
      }
    },
    "com.amazonaws.quicksight#AggregationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#Aggregation"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 128
        }
      }
    },
    "com.amazonaws.quicksight#AppendOperation": {
      "type": "structure",
      "members": {
        "Alias": {
          "target": "com.amazonaws.quicksight#TransformOperationAlias",
          "traits": {
            "smithy.api#documentation": "<p>Alias for this operation.</p>",
            "smithy.api#required": {}
          }
        },
        "FirstSource": {
          "target": "com.amazonaws.quicksight#TransformOperationSource",
          "traits": {
            "smithy.api#documentation": "<p>The first data source to be included in the append operation.</p>"
          }
        },
        "SecondSource": {
          "target": "com.amazonaws.quicksight#TransformOperationSource",
          "traits": {
            "smithy.api#documentation": "<p>The second data source to be appended to the first source.</p>"
          }
        },
        "AppendedColumns": {
          "target": "com.amazonaws.quicksight#AppendedColumnList",
          "traits": {
            "smithy.api#documentation": "<p>The list of columns to include in the appended result, mapping columns from both sources.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A transform operation that combines rows from two data sources by stacking them vertically (union operation).</p>"
      }
    },
    "com.amazonaws.quicksight#AppendedColumn": {
      "type": "structure",
      "members": {
        "ColumnName": {
          "target": "com.amazonaws.quicksight#ColumnName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the column to include in the appended result.</p>",
            "smithy.api#required": {}
          }
        },
        "NewColumnId": {
          "target": "com.amazonaws.quicksight#ColumnId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the column in the appended result.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a column that will be included in the result of an append operation, combining data from multiple sources.</p>"
      }
    },
    "com.amazonaws.quicksight#AppendedColumnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#AppendedColumn"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2048
        }
      }
    },
    "com.amazonaws.quicksight#Arn": {
      "type": "string"
    },
    "com.amazonaws.quicksight#AwsAccountId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 12,
          "max": 12
        },
        "smithy.api#pattern": "^[0-9]{12}$"
      }
    },
    "com.amazonaws.quicksight#Boolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.quicksight#CalculatedColumn": {
      "type": "structure",
      "members": {
        "ColumnName": {
          "target": "com.amazonaws.quicksight#ColumnName",
          "traits": {
            "smithy.api#documentation": "<p>Column name.</p>",
            "smithy.api#required": {}
          }
        },
        "ColumnId": {
          "target": "com.amazonaws.quicksight#ColumnId",
          "traits": {
            "smithy.api#documentation": "<p>A unique ID to identify a calculated column. During a dataset update, if the column ID\n            of a calculated column matches that of an existing calculated column, Quick Sight\n            preserves the existing calculated column.</p>",
            "smithy.api#required": {}
          }
        },
        "Expression": {
          "target": "com.amazonaws.quicksight#DataSetCalculatedFieldExpression",
          "traits": {
            "smithy.api#documentation": "<p>An expression that defines the calculated column.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A calculated column for a dataset.</p>"
      }
    },
    "com.amazonaws.quicksight#CalculatedColumnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#CalculatedColumn"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        }
      }
    },
    "com.amazonaws.quicksight#CastColumnTypeOperation": {
      "type": "structure",
      "members": {
        "ColumnName": {
          "target": "com.amazonaws.quicksight#ColumnName",
          "traits": {
            "smithy.api#documentation": "<p>Column name.</p>",
            "smithy.api#required": {}
          }
        },
        "NewColumnType": {
          "target": "com.amazonaws.quicksight#ColumnDataType",
          "traits": {
            "smithy.api#documentation": "<p>New column data type.</p>",
            "smithy.api#required": {}
          }
        },
        "SubType": {
          "target": "com.amazonaws.quicksight#ColumnDataSubType",
          "traits": {
            "smithy.api#documentation": "<p>The sub data type of the new column. Sub types are only available for decimal columns that are part of a SPICE dataset.</p>"
          }
        },
        "Format": {
          "target": "com.amazonaws.quicksight#TypeCastFormat",
          "traits": {
            "smithy.api#documentation": "<p>When casting a column from string to datetime type, you can supply a string in a\n            format supported by Quick Sight to denote the source data format.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A transform operation that casts a column to a different type.</p>"
      }
    },
    "com.amazonaws.quicksight#CastColumnTypeOperationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#CastColumnTypeOperation"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2048
        }
      }
    },
    "com.amazonaws.quicksight#CastColumnTypesOperation": {
      "type": "structure",
      "members": {
        "Alias": {
          "target": "com.amazonaws.quicksight#TransformOperationAlias",
          "traits": {
            "smithy.api#documentation": "<p>Alias for this operation.</p>",
            "smithy.api#required": {}
          }
        },
        "Source": {
          "target": "com.amazonaws.quicksight#TransformOperationSource",
          "traits": {
            "smithy.api#documentation": "<p>The source transform operation that provides input data for the type casting.</p>",
            "smithy.api#required": {}
          }
        },
        "CastColumnTypeOperations": {
          "target": "com.amazonaws.quicksight#CastColumnTypeOperationList",
          "traits": {
            "smithy.api#documentation": "<p>The list of column type casting operations to perform.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A transform operation that changes the data types of one or more columns in the dataset.</p>"
      }
    },
    "com.amazonaws.quicksight#CellValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2047
        }
      }
    },
    "com.amazonaws.quicksight#ColumnDataSubType": {
      "type": "enum",
      "members": {
        "FLOAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLOAT"
          }
        },
        "FIXED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FIXED"
          }
        }
      }
    },
    "com.amazonaws.quicksight#ColumnDataType": {
      "type": "enum",
      "members": {
        "STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING"
          }
        },
        "INTEGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTEGER"
          }
        },
        "DECIMAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DECIMAL"
          }
        },
        "DATETIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATETIME"
          }
        }
      }
    },
    "com.amazonaws.quicksight#ColumnDescription": {
      "type": "structure",
      "members": {
        "Text": {
          "target": "com.amazonaws.quicksight#ColumnDescriptiveText",
          "traits": {
            "smithy.api#documentation": "<p>The text of a description for a column.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Metadata that contains a description for a column.</p>"
      }
    },
    "com.amazonaws.quicksight#ColumnDescriptiveText": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 500
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.quicksight#ColumnGroup": {
      "type": "structure",
      "members": {
        "GeoSpatialColumnGroup": {
          "target": "com.amazonaws.quicksight#GeoSpatialColumnGroup",
          "traits": {
            "smithy.api#documentation": "<p>Geospatial column group that denotes a hierarchy.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Groupings of columns that work together in certain Quick Sight features. This is\n            a variant type structure. For this structure to be valid, only one of the attributes can\n            be non-null.</p>"
      }
    },
    "com.amazonaws.quicksight#ColumnGroupList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#ColumnGroup"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 8
        }
      }
    },
    "com.amazonaws.quicksight#ColumnGroupName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        }
      }
    },
    "com.amazonaws.quicksight#ColumnId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        }
      }
    },
    "com.amazonaws.quicksight#ColumnLevelPermissionRule": {
      "type": "structure",
      "members": {
        "Principals": {
          "target": "com.amazonaws.quicksight#PrincipalList",
          "traits": {
            "smithy.api#documentation": "<p>An array of Amazon Resource Names (ARNs) for Quick Sight users or groups.</p>"
          }
        },
        "ColumnNames": {
          "target": "com.amazonaws.quicksight#ColumnLevelPermissionRuleColumnNameList",
          "traits": {
            "smithy.api#documentation": "<p>An array of column names.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A rule defined to grant access on one or more restricted columns.\n            Each dataset can have multiple rules.\n            To create a restricted column, you add it to one or more rules.\n            Each rule must contain at least one column and at least one user or group.\n            To be able to see a restricted column, a user or group needs to be added\n            to a rule for that column.</p>"
      }
    },
    "com.amazonaws.quicksight#ColumnLevelPermissionRuleColumnNameList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#String"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.quicksight#ColumnLevelPermissionRuleList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#ColumnLevelPermissionRule"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.quicksight#ColumnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#ColumnName"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 16
        }
      }
    },
    "com.amazonaws.quicksight#ColumnName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        }
      }
    },
    "com.amazonaws.quicksight#ColumnTag": {
      "type": "structure",
      "members": {
        "ColumnGeographicRole": {
          "target": "com.amazonaws.quicksight#GeoSpatialDataRole",
          "traits": {
            "smithy.api#documentation": "<p>A geospatial role for a column.</p>"
          }
        },
        "ColumnDescription": {
          "target": "com.amazonaws.quicksight#ColumnDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description for a column.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A tag for a column in a\n            <code>\n               <a href=\"https://docs.aws.amazon.com/quicksight/latest/APIReference/API_TagColumnOperation.html\">TagColumnOperation</a>\n            </code>\n            structure. This is a\n            variant type structure. For this structure to be valid, only one of the attributes can\n            be non-null.</p>"
      }
    },
    "com.amazonaws.quicksight#ColumnTagList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#ColumnTag"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 16
        }
      }
    },
    "com.amazonaws.quicksight#ColumnTagName": {
      "type": "enum",
      "members": {
        "COLUMN_GEOGRAPHIC_ROLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COLUMN_GEOGRAPHIC_ROLE"
          }
        },
        "COLUMN_DESCRIPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COLUMN_DESCRIPTION"
          }
        }
      }
    },
    "com.amazonaws.quicksight#ColumnTagNames": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#ColumnTagName"
      }
    },
    "com.amazonaws.quicksight#ColumnToUnpivot": {
      "type": "structure",
      "members": {
        "ColumnName": {
          "target": "com.amazonaws.quicksight#ColumnName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the column to unpivot from the source data.</p>"
          }
        },
        "NewValue": {
          "target": "com.amazonaws.quicksight#CellValue",
          "traits": {
            "smithy.api#documentation": "<p>The value to assign to this column in the unpivoted result, typically the column name or a descriptive label.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies a column to be unpivoted, transforming it from a column into rows with associated values.</p>"
      }
    },
    "com.amazonaws.quicksight#ColumnToUnpivotList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#ColumnToUnpivot"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.quicksight#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.quicksight#String"
        },
        "RequestId": {
          "target": "com.amazonaws.quicksight#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services request ID for this request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Updating or deleting a resource can cause an inconsistent state.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.quicksight#CreateColumnsOperation": {
      "type": "structure",
      "members": {
        "Alias": {
          "target": "com.amazonaws.quicksight#TransformOperationAlias",
          "traits": {
            "smithy.api#documentation": "<p>Alias for this operation.</p>"
          }
        },
        "Source": {
          "target": "com.amazonaws.quicksight#TransformOperationSource",
          "traits": {
            "smithy.api#documentation": "<p>The source transform operation that provides input data for creating new calculated columns.</p>"
          }
        },
        "Columns": {
          "target": "com.amazonaws.quicksight#CalculatedColumnList",
          "traits": {
            "smithy.api#documentation": "<p>Calculated columns to create.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A transform operation that creates calculated columns. Columns created in one such\n            operation form a lexical closure.</p>"
      }
    },
    "com.amazonaws.quicksight#CreateDataSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.quicksight#CreateDataSetRequest"
      },
      "output": {
        "target": "com.amazonaws.quicksight#CreateDataSetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.quicksight#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.quicksight#ConflictException"
        },
        {
          "target": "com.amazonaws.quicksight#InternalFailureException"
        },
        {
          "target": "com.amazonaws.quicksight#InvalidDataSetParameterValueException"
        },
        {
          "target": "com.amazonaws.quicksight#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.quicksight#LimitExceededException"
        },
        {
          "target": "com.amazonaws.quicksight#ResourceExistsException"
        },
        {
          "target": "com.amazonaws.quicksight#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.quicksight#ThrottlingException"
        },
        {
          "target": "com.amazonaws.quicksight#UnsupportedUserEditionException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a dataset. This operation doesn't support datasets that include uploaded files\n\t\t\tas a source.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{AwsAccountId}/data-sets",
          "code": 200
        }
      }
    },
    "com.amazonaws.quicksight#CreateDataSetRequest": {
      "type": "structure",
      "members": {
        "AwsAccountId": {
          "target": "com.amazonaws.quicksight#AwsAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services account ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "DataSetId": {
          "target": "com.amazonaws.quicksight#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>An ID for the dataset that you want to create. This ID is unique per Amazon Web Services Region for each Amazon Web Services account.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.quicksight#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The display name for the dataset.</p>",
            "smithy.api#required": {}
          }
        },
        "PhysicalTableMap": {
          "target": "com.amazonaws.quicksight#PhysicalTableMap",
          "traits": {
            "smithy.api#documentation": "<p>Declares the physical tables that are available in the underlying data sources.</p>",
            "smithy.api#required": {}
          }
        },
        "LogicalTableMap": {
          "target": "com.amazonaws.quicksight#LogicalTableMap",
          "traits": {
            "smithy.api#deprecated": {
              "since": "2025-10-23",
              "message": "Only used in the legacy data preparation experience."
            },
            "smithy.api#documentation": "<p>Configures the combination and transformation of the data from the physical\n\t\t\ttables. This parameter is used with the legacy data preparation experience.</p>"
          }
        },
        "ImportMode": {
          "target": "com.amazonaws.quicksight#DataSetImportMode",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether you want to import the data into SPICE.</p>",
            "smithy.api#required": {}
          }
        },
        "ColumnGroups": {
          "target": "com.amazonaws.quicksight#ColumnGroupList",
          "traits": {
            "smithy.api#documentation": "<p>Groupings of columns that work together in certain Amazon Quick Sight features.\n\t\t\tCurrently, only geospatial hierarchy is supported.</p>"
          }
        },
        "FieldFolders": {
          "target": "com.amazonaws.quicksight#FieldFolderMap",
          "traits": {
            "smithy.api#documentation": "<p>The folder that contains fields and nested subfolders for your dataset.</p>"
          }
        },
        "Permissions": {
          "target": "com.amazonaws.quicksight#ResourcePermissionList",
          "traits": {
            "smithy.api#documentation": "<p>A list of resource permissions on the dataset.</p>"
          }
        },
        "RowLevelPermissionDataSet": {
          "target": "com.amazonaws.quicksight#RowLevelPermissionDataSet",
          "traits": {
            "smithy.api#deprecated": {
              "since": "2025-10-23",
              "message": "Only used in the legacy data preparation experience."
            },
            "smithy.api#documentation": "<p>The row-level security configuration for the data that you want to create. This parameter is \n\t\t\tused with the legacy data preparation experience.</p>"
          }
        },
        "RowLevelPermissionTagConfiguration": {
          "target": "com.amazonaws.quicksight#RowLevelPermissionTagConfiguration",
          "traits": {
            "smithy.api#deprecated": {
              "since": "2025-10-23",
              "message": "Only used in the legacy data preparation experience."
            },
            "smithy.api#documentation": "<p>The configuration of tags on a dataset to set row-level security. Row-level security\n\t\t\ttags are currently supported for anonymous embedding only. This parameter is \n\t\t\tused with the legacy data preparation experience.</p>"
          }
        },
        "ColumnLevelPermissionRules": {
          "target": "com.amazonaws.quicksight#ColumnLevelPermissionRuleList",
          "traits": {
            "smithy.api#documentation": "<p>A set of one or more definitions of a <code>\n               <a href=\"https://docs.aws.amazon.com/quicksight/latest/APIReference/API_ColumnLevelPermissionRule.html\">ColumnLevelPermissionRule</a>\n            </code>.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.quicksight#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Contains a map of the key-value pairs for the resource tag or tags assigned to the\n\t\t\tdataset.</p>"
          }
        },
        "DataSetUsageConfiguration": {
          "target": "com.amazonaws.quicksight#DataSetUsageConfiguration"
        },
        "DatasetParameters": {
          "target": "com.amazonaws.quicksight#DatasetParameterList",
          "traits": {
            "smithy.api#documentation": "<p>The parameter declarations of the dataset.</p>"
          }
        },
        "FolderArns": {
          "target": "com.amazonaws.quicksight#FolderArnList",
          "traits": {
            "smithy.api#documentation": "<p>When you create the dataset, Amazon Quick Sight adds the dataset to these\n\t\t\tfolders.</p>"
          }
        },
        "PerformanceConfiguration": {
          "target": "com.amazonaws.quicksight#PerformanceConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for the performance optimization of the dataset that contains a\n\t\t\t\t<code>UniqueKey</code> configuration.</p>"
          }
        },
        "UseAs": {
          "target": "com.amazonaws.quicksight#DataSetUseAs",
          "traits": {
            "smithy.api#documentation": "<p>The usage of the dataset. <code>RLS_RULES</code> must be specified for RLS permission\n\t\t\tdatasets.</p>"
          }
        },
        "DataPrepConfiguration": {
          "target": "com.amazonaws.quicksight#DataPrepConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The data preparation configuration for the dataset. This configuration defines the source tables,\n\t\t\ttransformation steps, and destination tables used to prepare the data.\n\t\t\tRequired when using the new data preparation experience.</p>"
          }
        },
        "SemanticModelConfiguration": {
          "target": "com.amazonaws.quicksight#SemanticModelConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The semantic model configuration for the dataset. This configuration defines how the prepared\n\t\t\tdata is structured for an analysis, including table mappings and row-level security configurations.\n\t\t\tRequired when using the new data preparation experience.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.quicksight#CreateDataSetResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.quicksight#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the dataset.</p>"
          }
        },
        "DataSetId": {
          "target": "com.amazonaws.quicksight#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID for the dataset that you want to create. This ID is unique per Amazon Web Services Region for each Amazon Web Services account.</p>"
          }
        },
        "IngestionArn": {
          "target": "com.amazonaws.quicksight#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN for the ingestion, which is triggered as a result of dataset creation if the\n\t\t\timport mode is SPICE.</p>"
          }
        },
        "IngestionId": {
          "target": "com.amazonaws.quicksight#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the ingestion, which is triggered as a result of dataset creation if the\n\t\t\timport mode is SPICE.</p>"
          }
        },
        "RequestId": {
          "target": "com.amazonaws.quicksight#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services request ID for this operation.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.quicksight#StatusCode",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The HTTP status of the request.</p>",
            "smithy.api#httpResponseCode": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.quicksight#CustomSql": {
      "type": "structure",
      "members": {
        "DataSourceArn": {
          "target": "com.amazonaws.quicksight#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the data source.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.quicksight#CustomSqlName",
          "traits": {
            "smithy.api#documentation": "<p>A display name for the SQL query result.</p>",
            "smithy.api#required": {}
          }
        },
        "SqlQuery": {
          "target": "com.amazonaws.quicksight#SqlQuery",
          "traits": {
            "smithy.api#documentation": "<p>The SQL query.</p>",
            "smithy.api#required": {}
          }
        },
        "Columns": {
          "target": "com.amazonaws.quicksight#InputColumnList",
          "traits": {
            "smithy.api#documentation": "<p>The column schema from the SQL query result set.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A physical table type built from the results of the custom SQL query.</p>"
      }
    },
    "com.amazonaws.quicksight#CustomSqlName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        }
      }
    },
    "com.amazonaws.quicksight#DataPrepAggregationFunction": {
      "type": "structure",
      "members": {
        "SimpleAggregation": {
          "target": "com.amazonaws.quicksight#DataPrepSimpleAggregationFunction",
          "traits": {
            "smithy.api#documentation": "<p>A simple aggregation function such as <code>SUM</code>, <code>COUNT</code>, <code>AVERAGE</code>, \n           <code>MIN</code>, <code>MAX</code>, <code>MEDIAN</code>, <code>VARIANCE</code>, or <code>STANDARD_DEVIATION</code>.</p>"
          }
        },
        "ListAggregation": {
          "target": "com.amazonaws.quicksight#DataPrepListAggregationFunction",
          "traits": {
            "smithy.api#documentation": "<p>A list aggregation function that concatenates values from multiple rows into a single delimited string.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines the type of aggregation function to apply to data during data preparation, supporting simple\n          and list aggregations.</p>"
      }
    },
    "com.amazonaws.quicksight#DataPrepConfiguration": {
      "type": "structure",
      "members": {
        "SourceTableMap": {
          "target": "com.amazonaws.quicksight#SourceTableMap",
          "traits": {
            "smithy.api#documentation": "<p>A map of source tables that provide information about underlying sources.</p>",
            "smithy.api#required": {}
          }
        },
        "TransformStepMap": {
          "target": "com.amazonaws.quicksight#TransformStepMap",
          "traits": {
            "smithy.api#documentation": "<p>A map of transformation steps that process the data.</p>",
            "smithy.api#required": {}
          }
        },
        "DestinationTableMap": {
          "target": "com.amazonaws.quicksight#DestinationTableMap",
          "traits": {
            "smithy.api#documentation": "<p>A map of destination tables that receive the final prepared data.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configuration for data preparation operations, defining the complete pipeline from source tables \n           through transformations to destination tables.</p>"
      }
    },
    "com.amazonaws.quicksight#DataPrepListAggregationFunction": {
      "type": "structure",
      "members": {
        "InputColumnName": {
          "target": "com.amazonaws.quicksight#ColumnName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the column containing values to be concatenated.</p>"
          }
        },
        "Separator": {
          "target": "com.amazonaws.quicksight#Separator",
          "traits": {
            "smithy.api#documentation": "<p>The string used to separate values in the concatenated result.</p>",
            "smithy.api#required": {}
          }
        },
        "Distinct": {
          "target": "com.amazonaws.quicksight#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Whether to include only distinct values in the concatenated result, removing duplicates.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An aggregation function that concatenates values from multiple rows into a single string with a specified \n           separator.</p>"
      }
    },
    "com.amazonaws.quicksight#DataPrepSimpleAggregationFunction": {
      "type": "structure",
      "members": {
        "InputColumnName": {
          "target": "com.amazonaws.quicksight#ColumnName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the column on which to perform the aggregation function.</p>"
          }
        },
        "FunctionType": {
          "target": "com.amazonaws.quicksight#DataPrepSimpleAggregationFunctionType",
          "traits": {
            "smithy.api#documentation": "<p>The type of aggregation function to perform, such as <code>COUNT</code>, <code>SUM</code>, <code>AVERAGE</code>, \n           <code>MIN</code>, <code>MAX</code>, <code>MEDIAN</code>, <code>VARIANCE</code>, or <code>STANDARD_DEVIATION</code>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A simple aggregation function that performs standard statistical operations on a column.</p>"
      }
    },
    "com.amazonaws.quicksight#DataPrepSimpleAggregationFunctionType": {
      "type": "enum",
      "members": {
        "COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COUNT"
          }
        },
        "DISTINCT_COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISTINCT_COUNT"
          }
        },
        "SUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUM"
          }
        },
        "AVERAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AVERAGE"
          }
        },
        "MAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAX"
          }
        },
        "MIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MIN"
          }
        }
      }
    },
    "com.amazonaws.quicksight#DataSet": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.quicksight#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource.</p>"
          }
        },
        "DataSetId": {
          "target": "com.amazonaws.quicksight#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the dataset. Limited to 96 characters.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.quicksight#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>A display name for the dataset.</p>"
          }
        },
        "CreatedTime": {
          "target": "com.amazonaws.quicksight#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time that this dataset was created.</p>"
          }
        },
        "LastUpdatedTime": {
          "target": "com.amazonaws.quicksight#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The last time that this dataset was updated.</p>"
          }
        },
        "PhysicalTableMap": {
          "target": "com.amazonaws.quicksight#PhysicalTableMap",
          "traits": {
            "smithy.api#documentation": "<p>Declares the physical tables that are available in the underlying data sources.</p>"
          }
        },
        "LogicalTableMap": {
          "target": "com.amazonaws.quicksight#LogicalTableMap",
          "traits": {
            "smithy.api#documentation": "<p>Configures the combination and transformation of the data from the physical\n            tables.</p>"
          }
        },
        "OutputColumns": {
          "target": "com.amazonaws.quicksight#OutputColumnList",
          "traits": {
            "smithy.api#documentation": "<p>The list of columns after all transforms. These columns are available in templates,\n            analyses, and dashboards.</p>"
          }
        },
        "ImportMode": {
          "target": "com.amazonaws.quicksight#DataSetImportMode",
          "traits": {
            "smithy.api#documentation": "<p>A value that indicates whether you want to import the data into SPICE.</p>"
          }
        },
        "ConsumedSpiceCapacityInBytes": {
          "target": "com.amazonaws.quicksight#Long",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The amount of SPICE capacity used by this dataset. This is 0 if the dataset isn't\n            imported into SPICE.</p>"
          }
        },
        "ColumnGroups": {
          "target": "com.amazonaws.quicksight#ColumnGroupList",
          "traits": {
            "smithy.api#documentation": "<p>Groupings of columns that work together in certain Quick Sight features.\n            Currently, only geospatial hierarchy is supported.</p>"
          }
        },
        "FieldFolders": {
          "target": "com.amazonaws.quicksight#FieldFolderMap",
          "traits": {
            "smithy.api#documentation": "<p>The folder that contains fields and nested subfolders for your dataset.</p>"
          }
        },
        "RowLevelPermissionDataSet": {
          "target": "com.amazonaws.quicksight#RowLevelPermissionDataSet",
          "traits": {
            "smithy.api#documentation": "<p>The row-level security configuration for the dataset.</p>"
          }
        },
        "RowLevelPermissionTagConfiguration": {
          "target": "com.amazonaws.quicksight#RowLevelPermissionTagConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The element you can use to define tags for row-level security.</p>"
          }
        },
        "ColumnLevelPermissionRules": {
          "target": "com.amazonaws.quicksight#ColumnLevelPermissionRuleList",
          "traits": {
            "smithy.api#documentation": "<p>A set of one or more definitions of a <code>\n               <a href=\"https://docs.aws.amazon.com/quicksight/latest/APIReference/API_ColumnLevelPermissionRule.html\">ColumnLevelPermissionRule</a>\n            </code>.</p>"
          }
        },
        "DataSetUsageConfiguration": {
          "target": "com.amazonaws.quicksight#DataSetUsageConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The usage configuration to apply to child datasets that reference this dataset as a source.</p>"
          }
        },
        "DatasetParameters": {
          "target": "com.amazonaws.quicksight#DatasetParameterList",
          "traits": {
            "smithy.api#documentation": "<p>The parameters that are declared in a dataset.</p>"
          }
        },
        "PerformanceConfiguration": {
          "target": "com.amazonaws.quicksight#PerformanceConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The performance optimization configuration of a dataset.</p>"
          }
        },
        "UseAs": {
          "target": "com.amazonaws.quicksight#DataSetUseAs",
          "traits": {
            "smithy.api#documentation": "<p>The usage of the dataset.</p>"
          }
        },
        "DataPrepConfiguration": {
          "target": "com.amazonaws.quicksight#DataPrepConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The data preparation configuration associated with this dataset.</p>"
          }
        },
        "SemanticModelConfiguration": {
          "target": "com.amazonaws.quicksight#SemanticModelConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The semantic model configuration associated with this dataset.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Dataset.</p>"
      }
    },
    "com.amazonaws.quicksight#DataSetCalculatedFieldExpression": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 250000
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.quicksight#DataSetColumnIdMapping": {
      "type": "structure",
      "members": {
        "SourceColumnId": {
          "target": "com.amazonaws.quicksight#ColumnId",
          "traits": {
            "smithy.api#documentation": "<p>Source column ID.</p>",
            "smithy.api#required": {}
          }
        },
        "TargetColumnId": {
          "target": "com.amazonaws.quicksight#ColumnId",
          "traits": {
            "smithy.api#documentation": "<p>Target column ID.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Maps a source column identifier to a target column identifier during transform operations.</p>"
      }
    },
    "com.amazonaws.quicksight#DataSetColumnIdMappingList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#DataSetColumnIdMapping"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        }
      }
    },
    "com.amazonaws.quicksight#DataSetDateComparisonFilterCondition": {
      "type": "structure",
      "members": {
        "Operator": {
          "target": "com.amazonaws.quicksight#DataSetDateComparisonFilterOperator",
          "traits": {
            "smithy.api#documentation": "<p>The comparison operator to use, such as <code>BEFORE</code>, <code>BEFORE_OR_EQUALS_TO</code>, <code>AFTER</code>, \n           or <code>AFTER_OR_EQUALS_TO</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "Value": {
          "target": "com.amazonaws.quicksight#DataSetDateFilterValue",
          "traits": {
            "smithy.api#documentation": "<p>The date value to compare against.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A filter condition that compares date values using operators like <code>BEFORE</code>, <code>AFTER</code>, or \n           their inclusive variants.</p>"
      }
    },
    "com.amazonaws.quicksight#DataSetDateComparisonFilterOperator": {
      "type": "enum",
      "members": {
        "BEFORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BEFORE"
          }
        },
        "BEFORE_OR_EQUALS_TO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BEFORE_OR_EQUALS_TO"
          }
        },
        "AFTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AFTER"
          }
        },
        "AFTER_OR_EQUALS_TO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AFTER_OR_EQUALS_TO"
          }
        }
      }
    },
    "com.amazonaws.quicksight#DataSetDateFilterCondition": {
      "type": "structure",
      "members": {
        "ColumnName": {
          "target": "com.amazonaws.quicksight#ColumnName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the date column to filter.</p>"
          }
        },
        "ComparisonFilterCondition": {
          "target": "com.amazonaws.quicksight#DataSetDateComparisonFilterCondition",
          "traits": {
            "smithy.api#documentation": "<p>A comparison-based filter condition for the date column.</p>"
          }
        },
        "RangeFilterCondition": {
          "target": "com.amazonaws.quicksight#DataSetDateRangeFilterCondition",
          "traits": {
            "smithy.api#documentation": "<p>A range-based filter condition for the date column, filtering values between minimum and maximum dates.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A filter condition for date columns, supporting both comparison and range-based filtering.</p>"
      }
    },
    "com.amazonaws.quicksight#DataSetDateFilterValue": {
      "type": "structure",
      "members": {
        "StaticValue": {
          "target": "com.amazonaws.quicksight#SensitiveTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>A static date value used for filtering.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a date value used in filter conditions.</p>"
      }
    },
    "com.amazonaws.quicksight#DataSetDateRangeFilterCondition": {
      "type": "structure",
      "members": {
        "RangeMinimum": {
          "target": "com.amazonaws.quicksight#DataSetDateFilterValue",
          "traits": {
            "smithy.api#documentation": "<p>The minimum date value for the range filter.</p>"
          }
        },
        "RangeMaximum": {
          "target": "com.amazonaws.quicksight#DataSetDateFilterValue",
          "traits": {
            "smithy.api#documentation": "<p>The maximum date value for the range filter.</p>"
          }
        },
        "IncludeMinimum": {
          "target": "com.amazonaws.quicksight#Boolean",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>Whether to include the minimum value in the filter range.</p>"
          }
        },
        "IncludeMaximum": {
          "target": "com.amazonaws.quicksight#Boolean",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>Whether to include the maximum value in the filter range.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A filter condition that filters date values within a specified range.</p>"
      }
    },
    "com.amazonaws.quicksight#DataSetEntityResourceId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^[0-9a-zA-Z-]*$"
      }
    },
    "com.amazonaws.quicksight#DataSetImportMode": {
      "type": "enum",
      "members": {
        "SPICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPICE"
          }
        },
        "DIRECT_QUERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIRECT_QUERY"
          }
        }
      }
    },
    "com.amazonaws.quicksight#DataSetNumericComparisonFilterCondition": {
      "type": "structure",
      "members": {
        "Operator": {
          "target": "com.amazonaws.quicksight#DataSetNumericComparisonFilterOperator",
          "traits": {
            "smithy.api#documentation": "<p>The comparison operator to use, such as <code>EQUALS</code>, <code>GREATER_THAN</code>, <code>LESS_THAN</code>, \n           or their variants.</p>",
            "smithy.api#required": {}
          }
        },
        "Value": {
          "target": "com.amazonaws.quicksight#DataSetNumericFilterValue",
          "traits": {
            "smithy.api#documentation": "<p>The numeric value to compare against.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A filter condition that compares numeric values using operators like <code>EQUALS</code>, <code>GREATER_THAN</code>, \n           or <code>LESS_THAN</code>.</p>"
      }
    },
    "com.amazonaws.quicksight#DataSetNumericComparisonFilterOperator": {
      "type": "enum",
      "members": {
        "EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EQUALS"
          }
        },
        "DOES_NOT_EQUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOES_NOT_EQUAL"
          }
        },
        "GREATER_THAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GREATER_THAN"
          }
        },
        "GREATER_THAN_OR_EQUALS_TO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GREATER_THAN_OR_EQUALS_TO"
          }
        },
        "LESS_THAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LESS_THAN"
          }
        },
        "LESS_THAN_OR_EQUALS_TO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LESS_THAN_OR_EQUALS_TO"
          }
        }
      }
    },
    "com.amazonaws.quicksight#DataSetNumericFilterCondition": {
      "type": "structure",
      "members": {
        "ColumnName": {
          "target": "com.amazonaws.quicksight#ColumnName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the numeric column to filter.</p>"
          }
        },
        "ComparisonFilterCondition": {
          "target": "com.amazonaws.quicksight#DataSetNumericComparisonFilterCondition",
          "traits": {
            "smithy.api#documentation": "<p>A comparison-based filter condition for the numeric column.</p>"
          }
        },
        "RangeFilterCondition": {
          "target": "com.amazonaws.quicksight#DataSetNumericRangeFilterCondition",
          "traits": {
            "smithy.api#documentation": "<p>A range-based filter condition for the numeric column, filtering values between minimum and maximum numbers.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A filter condition for numeric columns, supporting both comparison and range-based filtering.</p>"
      }
    },
    "com.amazonaws.quicksight#DataSetNumericFilterValue": {
      "type": "structure",
      "members": {
        "StaticValue": {
          "target": "com.amazonaws.quicksight#SensitiveDouble",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>A static numeric value used for filtering.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a numeric value used in filter conditions.</p>"
      }
    },
    "com.amazonaws.quicksight#DataSetNumericRangeFilterCondition": {
      "type": "structure",
      "members": {
        "RangeMinimum": {
          "target": "com.amazonaws.quicksight#DataSetNumericFilterValue",
          "traits": {
            "smithy.api#documentation": "<p>The minimum numeric value for the range filter.</p>"
          }
        },
        "RangeMaximum": {
          "target": "com.amazonaws.quicksight#DataSetNumericFilterValue",
          "traits": {
            "smithy.api#documentation": "<p>The maximum numeric value for the range filter.</p>"
          }
        },
        "IncludeMinimum": {
          "target": "com.amazonaws.quicksight#Boolean",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>Whether to include the minimum value in the filter range.</p>"
          }
        },
        "IncludeMaximum": {
          "target": "com.amazonaws.quicksight#Boolean",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>Whether to include the maximum value in the filter range.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A filter condition that filters numeric values within a specified range.</p>"
      }
    },
    "com.amazonaws.quicksight#DataSetStringComparisonFilterCondition": {
      "type": "structure",
      "members": {
        "Operator": {
          "target": "com.amazonaws.quicksight#DataSetStringComparisonFilterOperator",
          "traits": {
            "smithy.api#documentation": "<p>The comparison operator to use, such as <code>EQUALS</code>, <code>CONTAINS</code>, <code>STARTS_WITH</code>, \n           <code>ENDS_WITH</code>, or their negations.</p>",
            "smithy.api#required": {}
          }
        },
        "Value": {
          "target": "com.amazonaws.quicksight#DataSetStringFilterValue",
          "traits": {
            "smithy.api#documentation": "<p>The string value to compare against.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A filter condition that compares string values using operators like <code>EQUALS</code>, <code>CONTAINS</code>, \n           or <code>STARTS_WITH</code>.</p>"
      }
    },
    "com.amazonaws.quicksight#DataSetStringComparisonFilterOperator": {
      "type": "enum",
      "members": {
        "EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EQUALS"
          }
        },
        "DOES_NOT_EQUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOES_NOT_EQUAL"
          }
        },
        "CONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTAINS"
          }
        },
        "DOES_NOT_CONTAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOES_NOT_CONTAIN"
          }
        },
        "STARTS_WITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STARTS_WITH"
          }
        },
        "ENDS_WITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENDS_WITH"
          }
        }
      }
    },
    "com.amazonaws.quicksight#DataSetStringFilterCondition": {
      "type": "structure",
      "members": {
        "ColumnName": {
          "target": "com.amazonaws.quicksight#ColumnName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the string column to filter.</p>"
          }
        },
        "ComparisonFilterCondition": {
          "target": "com.amazonaws.quicksight#DataSetStringComparisonFilterCondition",
          "traits": {
            "smithy.api#documentation": "<p>A comparison-based filter condition for the string column.</p>"
          }
        },
        "ListFilterCondition": {
          "target": "com.amazonaws.quicksight#DataSetStringListFilterCondition",
          "traits": {
            "smithy.api#documentation": "<p>A list-based filter condition that includes or excludes values from a specified list.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A filter condition for string columns, supporting both comparison and list-based filtering.</p>"
      }
    },
    "com.amazonaws.quicksight#DataSetStringFilterStaticValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 512
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.quicksight#DataSetStringFilterStaticValueList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#DataSetStringFilterStaticValue"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1000
        }
      }
    },
    "com.amazonaws.quicksight#DataSetStringFilterValue": {
      "type": "structure",
      "members": {
        "StaticValue": {
          "target": "com.amazonaws.quicksight#DataSetStringFilterStaticValue",
          "traits": {
            "smithy.api#documentation": "<p>A static string value used for filtering.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a string value used in filter conditions.</p>"
      }
    },
    "com.amazonaws.quicksight#DataSetStringListFilterCondition": {
      "type": "structure",
      "members": {
        "Operator": {
          "target": "com.amazonaws.quicksight#DataSetStringListFilterOperator",
          "traits": {
            "smithy.api#documentation": "<p>The list operator to use, either <code>INCLUDE</code> to match values in the list or <code>EXCLUDE</code> to \n           filter out values in the list.</p>",
            "smithy.api#required": {}
          }
        },
        "Values": {
          "target": "com.amazonaws.quicksight#DataSetStringListFilterValue",
          "traits": {
            "smithy.api#documentation": "<p>The list of string values to include or exclude in the filter.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A filter condition that includes or excludes string values from a specified list.</p>"
      }
    },
    "com.amazonaws.quicksight#DataSetStringListFilterOperator": {
      "type": "enum",
      "members": {
        "INCLUDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INCLUDE"
          }
        },
        "EXCLUDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCLUDE"
          }
        }
      }
    },
    "com.amazonaws.quicksight#DataSetStringListFilterValue": {
      "type": "structure",
      "members": {
        "StaticValues": {
          "target": "com.amazonaws.quicksight#DataSetStringFilterStaticValueList",
          "traits": {
            "smithy.api#documentation": "<p>A list of static string values used for filtering.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a list of string values used in filter conditions.</p>"
      }
    },
    "com.amazonaws.quicksight#DataSetSummary": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.quicksight#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the dataset.</p>"
          }
        },
        "DataSetId": {
          "target": "com.amazonaws.quicksight#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the dataset.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.quicksight#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>A display name for the dataset.</p>"
          }
        },
        "CreatedTime": {
          "target": "com.amazonaws.quicksight#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time that this dataset was created.</p>"
          }
        },
        "LastUpdatedTime": {
          "target": "com.amazonaws.quicksight#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The last time that this dataset was updated.</p>"
          }
        },
        "ImportMode": {
          "target": "com.amazonaws.quicksight#DataSetImportMode",
          "traits": {
            "smithy.api#documentation": "<p>A value that indicates whether you want to import the data into SPICE.</p>"
          }
        },
        "RowLevelPermissionDataSet": {
          "target": "com.amazonaws.quicksight#RowLevelPermissionDataSet",
          "traits": {
            "smithy.api#documentation": "<p>The row-level security configuration for the dataset in the legacy data preparation experience.</p>"
          }
        },
        "RowLevelPermissionDataSetMap": {
          "target": "com.amazonaws.quicksight#RowLevelPermissionDataSetMap",
          "traits": {
            "smithy.api#documentation": "<p>The row-level security configuration for the dataset in the new data preparation experience.</p>"
          }
        },
        "RowLevelPermissionTagConfigurationApplied": {
          "target": "com.amazonaws.quicksight#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Whether or not the row level permission tags are applied.</p>"
          }
        },
        "ColumnLevelPermissionRulesApplied": {
          "target": "com.amazonaws.quicksight#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>A value that indicates if the dataset has column level permission configured.</p>"
          }
        },
        "UseAs": {
          "target": "com.amazonaws.quicksight#DataSetUseAs",
          "traits": {
            "smithy.api#documentation": "<p>The usage of the dataset.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Dataset summary.</p>"
      }
    },
    "com.amazonaws.quicksight#DataSetSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#DataSetSummary"
      }
    },
    "com.amazonaws.quicksight#DataSetUsageConfiguration": {
      "type": "structure",
      "members": {
        "DisableUseAsDirectQuerySource": {
          "target": "com.amazonaws.quicksight#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>An option that controls whether a child dataset of a direct query can use this dataset as a source.</p>"
          }
        },
        "DisableUseAsImportedSource": {
          "target": "com.amazonaws.quicksight#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>An option that controls whether a child dataset that's stored in Quick Sight can use this dataset as a source.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The usage configuration to apply to child datasets that reference this dataset as a source.</p>"
      }
    },
    "com.amazonaws.quicksight#DataSetUseAs": {
      "type": "enum",
      "members": {
        "RLS_RULES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RLS_RULES"
          }
        }
      }
    },
    "com.amazonaws.quicksight#DatasetParameter": {
      "type": "structure",
      "members": {
        "StringDatasetParameter": {
          "target": "com.amazonaws.quicksight#StringDatasetParameter",
          "traits": {
            "smithy.api#documentation": "<p>A string parameter that is created in the dataset.</p>"
          }
        },
        "DecimalDatasetParameter": {
          "target": "com.amazonaws.quicksight#DecimalDatasetParameter",
          "traits": {
            "smithy.api#documentation": "<p>A decimal parameter that is created in the dataset.</p>"
          }
        },
        "IntegerDatasetParameter": {
          "target": "com.amazonaws.quicksight#IntegerDatasetParameter",
          "traits": {
            "smithy.api#documentation": "<p>An integer parameter that is created in the dataset.</p>"
          }
        },
        "DateTimeDatasetParameter": {
          "target": "com.amazonaws.quicksight#DateTimeDatasetParameter",
          "traits": {
            "smithy.api#documentation": "<p>A date time parameter that is created in the dataset.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A parameter that is created in a dataset. The parameter can be a string, integer, decimal, or datetime data type.</p>"
      }
    },
    "com.amazonaws.quicksight#DatasetParameterId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^[a-zA-Z0-9-]+$"
      }
    },
    "com.amazonaws.quicksight#DatasetParameterList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#DatasetParameter"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 32
        }
      }
    },
    "com.amazonaws.quicksight#DatasetParameterName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        },
        "smithy.api#pattern": "^[a-zA-Z0-9]+$"
      }
    },
    "com.amazonaws.quicksight#DatasetParameterValueType": {
      "type": "enum",
      "members": {
        "MULTI_VALUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MULTI_VALUED"
          }
        },
        "SINGLE_VALUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SINGLE_VALUED"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The value type of the parameter. The value type is used to validate the parameter before it is evaluated.</p>"
      }
    },
    "com.amazonaws.quicksight#DateTimeDatasetParameter": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.quicksight#DatasetParameterId",
          "traits": {
            "smithy.api#documentation": "<p>An identifier for the parameter that is created in the dataset.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.quicksight#DatasetParameterName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the date time parameter that is created in the dataset.</p>",
            "smithy.api#required": {}
          }
        },
        "ValueType": {
          "target": "com.amazonaws.quicksight#DatasetParameterValueType",
          "traits": {
            "smithy.api#documentation": "<p>The value type of the dataset parameter. Valid values are <code>single value</code> or <code>multi value</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "TimeGranularity": {
          "target": "com.amazonaws.quicksight#TimeGranularity",
          "traits": {
            "smithy.api#documentation": "<p>The time granularity of the date time parameter.</p>"
          }
        },
        "DefaultValues": {
          "target": "com.amazonaws.quicksight#DateTimeDatasetParameterDefaultValues",
          "traits": {
            "smithy.api#documentation": "<p>A list of default values for a given date time parameter. This structure only accepts static values.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A date time parameter for a dataset.</p>"
      }
    },
    "com.amazonaws.quicksight#DateTimeDatasetParameterDefaultValue": {
      "type": "timestamp",
      "traits": {
        "smithy.api#documentation": "<p>The default value for the date time parameter.</p>"
      }
    },
    "com.amazonaws.quicksight#DateTimeDatasetParameterDefaultValues": {
      "type": "structure",
      "members": {
        "StaticValues": {
          "target": "com.amazonaws.quicksight#DateTimeDatasetParameterValueList",
          "traits": {
            "smithy.api#documentation": "<p>A list of static default values for a given date time parameter.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The default values of a date time parameter.</p>"
      }
    },
    "com.amazonaws.quicksight#DateTimeDatasetParameterValueList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#DateTimeDatasetParameterDefaultValue"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 32
        }
      }
    },
    "com.amazonaws.quicksight#DecimalDatasetParameter": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.quicksight#DatasetParameterId",
          "traits": {
            "smithy.api#documentation": "<p>An identifier for the decimal parameter created in the dataset.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.quicksight#DatasetParameterName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the decimal parameter that is created in the dataset.</p>",
            "smithy.api#required": {}
          }
        },
        "ValueType": {
          "target": "com.amazonaws.quicksight#DatasetParameterValueType",
          "traits": {
            "smithy.api#documentation": "<p>The value type of the dataset parameter. Valid values are <code>single value</code> or <code>multi value</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "DefaultValues": {
          "target": "com.amazonaws.quicksight#DecimalDatasetParameterDefaultValues",
          "traits": {
            "smithy.api#documentation": "<p>A list of default values for a given decimal parameter. This structure only accepts static values.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A decimal parameter for a dataset.</p>"
      }
    },
    "com.amazonaws.quicksight#DecimalDatasetParameterDefaultValue": {
      "type": "double",
      "traits": {
        "smithy.api#default": 0,
        "smithy.api#documentation": "<p>The default value for the decimal parameter.</p>"
      }
    },
    "com.amazonaws.quicksight#DecimalDatasetParameterDefaultValues": {
      "type": "structure",
      "members": {
        "StaticValues": {
          "target": "com.amazonaws.quicksight#DecimalDatasetParameterValueList",
          "traits": {
            "smithy.api#documentation": "<p>A list of static default values for a given decimal parameter.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The default values of a decimal parameter.</p>"
      }
    },
    "com.amazonaws.quicksight#DecimalDatasetParameterValueList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#DecimalDatasetParameterDefaultValue"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 32
        }
      }
    },
    "com.amazonaws.quicksight#DeleteDataSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.quicksight#DeleteDataSetRequest"
      },
      "output": {
        "target": "com.amazonaws.quicksight#DeleteDataSetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.quicksight#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.quicksight#InternalFailureException"
        },
        {
          "target": "com.amazonaws.quicksight#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.quicksight#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.quicksight#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a dataset.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{AwsAccountId}/data-sets/{DataSetId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.quicksight#DeleteDataSetRequest": {
      "type": "structure",
      "members": {
        "AwsAccountId": {
          "target": "com.amazonaws.quicksight#AwsAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services account ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "DataSetId": {
          "target": "com.amazonaws.quicksight#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID for the dataset that you want to delete. This ID is unique per Amazon Web Services Region for each Amazon Web Services account.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.quicksight#DeleteDataSetResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.quicksight#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the dataset.</p>"
          }
        },
        "DataSetId": {
          "target": "com.amazonaws.quicksight#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID for the dataset that you want to delete. This ID is unique per Amazon Web Services Region for each Amazon Web Services account.</p>"
          }
        },
        "RequestId": {
          "target": "com.amazonaws.quicksight#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services request ID for this operation.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.quicksight#StatusCode",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The HTTP status of the request.</p>",
            "smithy.api#httpResponseCode": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.quicksight#Delimiter": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1
        }
      }
    },
    "com.amazonaws.quicksight#DescribeDataSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.quicksight#DescribeDataSetRequest"
      },
      "output": {
        "target": "com.amazonaws.quicksight#DescribeDataSetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.quicksight#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.quicksight#InternalFailureException"
        },
        {
          "target": "com.amazonaws.quicksight#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.quicksight#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.quicksight#ThrottlingException"
        },
        {
          "target": "com.amazonaws.quicksight#QuickSightUserNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes a dataset. This operation doesn't support datasets that include uploaded\n\t\t\tfiles as a source.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{AwsAccountId}/data-sets/{DataSetId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.quicksight#DescribeDataSetRequest": {
      "type": "structure",
      "members": {
        "AwsAccountId": {
          "target": "com.amazonaws.quicksight#AwsAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services account ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "DataSetId": {
          "target": "com.amazonaws.quicksight#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID for the dataset that you want to describe. This ID is unique per Amazon Web Services Region for each Amazon Web Services account.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.quicksight#DescribeDataSetResponse": {
      "type": "structure",
      "members": {
        "DataSet": {
          "target": "com.amazonaws.quicksight#DataSet",
          "traits": {
            "smithy.api#documentation": "<p>Information on the dataset.</p>"
          }
        },
        "RequestId": {
          "target": "com.amazonaws.quicksight#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services request ID for this operation.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.quicksight#StatusCode",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The HTTP status of the request.</p>",
            "smithy.api#httpResponseCode": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.quicksight#DestinationTable": {
      "type": "structure",
      "members": {
        "Alias": {
          "target": "com.amazonaws.quicksight#DestinationTableAlias",
          "traits": {
            "smithy.api#documentation": "<p>Alias for the destination table.</p>",
            "smithy.api#required": {}
          }
        },
        "Source": {
          "target": "com.amazonaws.quicksight#DestinationTableSource",
          "traits": {
            "smithy.api#documentation": "<p>The source configuration that specifies which transform operation provides data to this destination table.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines a destination table in data preparation that receives the final transformed data.</p>"
      }
    },
    "com.amazonaws.quicksight#DestinationTableAlias": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        }
      }
    },
    "com.amazonaws.quicksight#DestinationTableMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.quicksight#DataSetEntityResourceId"
      },
      "value": {
        "target": "com.amazonaws.quicksight#DestinationTable"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1
        }
      }
    },
    "com.amazonaws.quicksight#DestinationTableSource": {
      "type": "structure",
      "members": {
        "TransformOperationId": {
          "target": "com.amazonaws.quicksight#DataSetEntityResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the transform operation that provides data to the destination table.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the source of data for a destination table, including the transform operation and column mappings.</p>"
      }
    },
    "com.amazonaws.quicksight#ExceptionResourceType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER"
          }
        },
        "GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GROUP"
          }
        },
        "NAMESPACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NAMESPACE"
          }
        },
        "ACCOUNT_SETTINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCOUNT_SETTINGS"
          }
        },
        "IAMPOLICY_ASSIGNMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IAMPOLICY_ASSIGNMENT"
          }
        },
        "DATA_SOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_SOURCE"
          }
        },
        "DATA_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_SET"
          }
        },
        "VPC_CONNECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VPC_CONNECTION"
          }
        },
        "INGESTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INGESTION"
          }
        }
      }
    },
    "com.amazonaws.quicksight#Expression": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 4096
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.quicksight#FieldFolder": {
      "type": "structure",
      "members": {
        "description": {
          "target": "com.amazonaws.quicksight#FieldFolderDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description for a field folder.</p>"
          }
        },
        "columns": {
          "target": "com.amazonaws.quicksight#FolderColumnList",
          "traits": {
            "smithy.api#documentation": "<p>A folder has a list of columns. A column can only be in one folder.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A FieldFolder element is a folder that contains fields and nested subfolders.</p>"
      }
    },
    "com.amazonaws.quicksight#FieldFolderDescription": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 500
        }
      }
    },
    "com.amazonaws.quicksight#FieldFolderMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.quicksight#FieldFolderPath"
      },
      "value": {
        "target": "com.amazonaws.quicksight#FieldFolder"
      }
    },
    "com.amazonaws.quicksight#FieldFolderPath": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1000
        }
      }
    },
    "com.amazonaws.quicksight#FileFormat": {
      "type": "enum",
      "members": {
        "CSV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CSV"
          }
        },
        "TSV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TSV"
          }
        },
        "CLF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLF"
          }
        },
        "ELF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ELF"
          }
        },
        "XLSX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "XLSX"
          }
        },
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JSON"
          }
        }
      }
    },
    "com.amazonaws.quicksight#FilterOperation": {
      "type": "structure",
      "members": {
        "ConditionExpression": {
          "target": "com.amazonaws.quicksight#Expression",
          "traits": {
            "smithy.api#documentation": "<p>An expression that must evaluate to a Boolean value. Rows for which the expression\n            evaluates to true are kept in the dataset.</p>"
          }
        },
        "StringFilterCondition": {
          "target": "com.amazonaws.quicksight#DataSetStringFilterCondition",
          "traits": {
            "smithy.api#documentation": "<p>A string-based filter condition within a filter operation.</p>"
          }
        },
        "NumericFilterCondition": {
          "target": "com.amazonaws.quicksight#DataSetNumericFilterCondition",
          "traits": {
            "smithy.api#documentation": "<p>A numeric-based filter condition within a filter operation.</p>"
          }
        },
        "DateFilterCondition": {
          "target": "com.amazonaws.quicksight#DataSetDateFilterCondition",
          "traits": {
            "smithy.api#documentation": "<p>A date-based filter condition within a filter operation.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A transform operation that filters rows based on a condition.</p>"
      }
    },
    "com.amazonaws.quicksight#FilterOperationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#FilterOperation"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 128
        }
      }
    },
    "com.amazonaws.quicksight#FiltersOperation": {
      "type": "structure",
      "members": {
        "Alias": {
          "target": "com.amazonaws.quicksight#TransformOperationAlias",
          "traits": {
            "smithy.api#documentation": "<p>Alias for this operation.</p>",
            "smithy.api#required": {}
          }
        },
        "Source": {
          "target": "com.amazonaws.quicksight#TransformOperationSource",
          "traits": {
            "smithy.api#documentation": "<p>The source transform operation that provides input data for filtering.</p>",
            "smithy.api#required": {}
          }
        },
        "FilterOperations": {
          "target": "com.amazonaws.quicksight#FilterOperationList",
          "traits": {
            "smithy.api#documentation": "<p>The list of filter operations to apply.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A transform operation that applies one or more filter conditions.</p>"
      }
    },
    "com.amazonaws.quicksight#FolderArnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#Arn"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1
        }
      }
    },
    "com.amazonaws.quicksight#FolderColumnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#String"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 5000
        }
      }
    },
    "com.amazonaws.quicksight#GeoSpatialColumnGroup": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.quicksight#ColumnGroupName",
          "traits": {
            "smithy.api#documentation": "<p>A display name for the hierarchy.</p>",
            "smithy.api#required": {}
          }
        },
        "CountryCode": {
          "target": "com.amazonaws.quicksight#GeoSpatialCountryCode",
          "traits": {
            "smithy.api#documentation": "<p>Country code.</p>"
          }
        },
        "Columns": {
          "target": "com.amazonaws.quicksight#ColumnList",
          "traits": {
            "smithy.api#documentation": "<p>Columns in this hierarchy.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Geospatial column group that denotes a hierarchy.</p>"
      }
    },
    "com.amazonaws.quicksight#GeoSpatialCountryCode": {
      "type": "enum",
      "members": {
        "US": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "US"
          }
        }
      }
    },
    "com.amazonaws.quicksight#GeoSpatialDataRole": {
      "type": "enum",
      "members": {
        "COUNTRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COUNTRY"
          }
        },
        "STATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE"
          }
        },
        "COUNTY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COUNTY"
          }
        },
        "CITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CITY"
          }
        },
        "POSTCODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTCODE"
          }
        },
        "LONGITUDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LONGITUDE"
          }
        },
        "LATITUDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LATITUDE"
          }
        }
      }
    },
    "com.amazonaws.quicksight#GroupByColumnNameList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#ColumnName"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 128
        }
      }
    },
    "com.amazonaws.quicksight#ImportTableOperation": {
      "type": "structure",
      "members": {
        "Alias": {
          "target": "com.amazonaws.quicksight#TransformOperationAlias",
          "traits": {
            "smithy.api#documentation": "<p>Alias for this operation.</p>",
            "smithy.api#required": {}
          }
        },
        "Source": {
          "target": "com.amazonaws.quicksight#ImportTableOperationSource",
          "traits": {
            "smithy.api#documentation": "<p>The source configuration that specifies which source table to import and any column mappings.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A transform operation that imports data from a source table.</p>"
      }
    },
    "com.amazonaws.quicksight#ImportTableOperationSource": {
      "type": "structure",
      "members": {
        "SourceTableId": {
          "target": "com.amazonaws.quicksight#DataSetEntityResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the source table to import data from.</p>",
            "smithy.api#required": {}
          }
        },
        "ColumnIdMappings": {
          "target": "com.amazonaws.quicksight#DataSetColumnIdMappingList",
          "traits": {
            "smithy.api#documentation": "<p>The mappings between source column identifiers and target column identifiers during the import.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the source table and column mappings for an import table operation.</p>"
      }
    },
    "com.amazonaws.quicksight#InputColumn": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.quicksight#ColumnName",
          "traits": {
            "smithy.api#documentation": "<p>The name of this column in the underlying data source.</p>",
            "smithy.api#required": {}
          }
        },
        "Id": {
          "target": "com.amazonaws.quicksight#ColumnId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the input column.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.quicksight#InputColumnDataType",
          "traits": {
            "smithy.api#documentation": "<p>The data type of the column.</p>",
            "smithy.api#required": {}
          }
        },
        "SubType": {
          "target": "com.amazonaws.quicksight#ColumnDataSubType",
          "traits": {
            "smithy.api#documentation": "<p>The sub data type of the column. Sub types are only available for decimal columns that are part of a SPICE dataset.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Metadata for a column that is used as the input of a transform operation.</p>"
      }
    },
    "com.amazonaws.quicksight#InputColumnDataType": {
      "type": "enum",
      "members": {
        "STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING"
          }
        },
        "INTEGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTEGER"
          }
        },
        "DECIMAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DECIMAL"
          }
        },
        "DATETIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATETIME"
          }
        },
        "BIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BIT"
          }
        },
        "BOOLEAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOOLEAN"
          }
        },
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JSON"
          }
        }
      }
    },
    "com.amazonaws.quicksight#InputColumnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#InputColumn"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2048
        }
      }
    },
    "com.amazonaws.quicksight#IntegerDatasetParameter": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.quicksight#DatasetParameterId",
          "traits": {
            "smithy.api#documentation": "<p>An identifier for the integer parameter created in the dataset.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.quicksight#DatasetParameterName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the integer parameter that is created in the dataset.</p>",
            "smithy.api#required": {}
          }
        },
        "ValueType": {
          "target": "com.amazonaws.quicksight#DatasetParameterValueType",
          "traits": {
            "smithy.api#documentation": "<p>The value type of the dataset parameter. Valid values are <code>single value</code> or <code>multi value</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "DefaultValues": {
          "target": "com.amazonaws.quicksight#IntegerDatasetParameterDefaultValues",
          "traits": {
            "smithy.api#documentation": "<p>A list of default values for a given integer parameter. This structure only accepts static values.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An integer parameter for a dataset.</p>"
      }
    },
    "com.amazonaws.quicksight#IntegerDatasetParameterDefaultValue": {
      "type": "long",
      "traits": {
        "smithy.api#default": 0,
        "smithy.api#documentation": "<p>The default value for the integer parameter.</p>"
      }
    },
    "com.amazonaws.quicksight#IntegerDatasetParameterDefaultValues": {
      "type": "structure",
      "members": {
        "StaticValues": {
          "target": "com.amazonaws.quicksight#IntegerDatasetParameterValueList",
          "traits": {
            "smithy.api#documentation": "<p>A list of static default values for a given integer parameter.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The default values of an integer parameter.</p>"
      }
    },
    "com.amazonaws.quicksight#IntegerDatasetParameterValueList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#IntegerDatasetParameterDefaultValue"
      },
      "traits": {
        "smithy.api#length": {
[...]
